* {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	/* Disable selection/copy in UIWebView */
}

#server-time {
  background-color: goldenrod;
  width: 200px;
  height: 100px;
  text-align: center
}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	-ms-touch-action: none;
	overflow: hidden;
	font-family: "bit";
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	touch-action-delay: none;
	touch-action: none;
	-ms-touch-action: none;
}